---
# Crash Course Python for Data Science - Intro to Python  
---
# 01 - Python Variables & Data Types
---

## Variables: The building blocks of Python

### What is a variable?
Python is one heck of a calculator. But you can imagine how more complex calculations would require us to remember a lot of values. That's where ***variables*** come in!  

A variable is a storage unit for different values like numbers or text. Variables must be specific and case sensitive because you call up the value of a variable by using its name.

In [1]:
# Anything after a hashtag is a comment
# and python just ignores it

# You can use python as a simple calculator

23 + 14

37

In [7]:
# Or... you can save the data in variables
x = 23
y = 14

z = x + y

print(z)
z*2

37

74

In [8]:
type(x)

int

In the above cell we created (or *declared*) two variables: *x* and *y*. We did this by simply using an **=** sign much like we would in algebra.  
In this example we only used numerical values (these are called ***integers*** or ***ints***). So what happens when you use text values?

In [2]:
# These are called strings:

z = 'Grace is '
w = "running late, again!" 

# concatenate
z + w

'Grace is running late, again!'

In [3]:
print(type(z))
print(type(w))

<class 'str'>
<class 'str'>

Something different happened!

When **ints** are added together, Python returns their sum as another int. Text values are referred to as ***strings***. These can be denoted using 'single' or "double" quotation marks as you can see above.  

When strings are added together, that's called *concatenation*. They're basically just pushed up against together. But remember, spaces are also counted. If you notice, there's no space at the end of the first string. Try adding a space after "is" and see what happens.  

This is a key principle of Python. *Different* types have *different* behavior.

Let's try something a bit more realistic. 

Let's say we're working with personal financial data and we're trying to figure out a budget.

In [5]:
# Let's put some numbers together:

monthly_income = 5_000

# Taxes:
tax_rate = 0.184

# Expenses
rent = 1200
food = 320
wifi = 100
transport = 300
pocket_money = 400

In [6]:
type(tax_rate)

float

Notice how that cell didn't have an output? Even though we ran the cell, it had no commands other than assigning values to different variables. If we tried to add something (like in the original example), then there would be an output.

Ok. We've created seven variables and assigned each a different numeric value to represent our income, taxes, and expenses for a given month. Let's see how much we have left over after we pay Uncle Sam and cover our expenses.

In [9]:
# Income, after taxes:
after_tax_income = monthly_income * (1 - tax_rate)
after_tax_income

4080.0000000000005

In [10]:
# format my outcome nicer
# £4080.00

# Two ways:
# Just putting one string next to the other:
print('£', round(after_tax_income, 2))

# of using `f` for format, only works with python 3.6+
print(f'£ {round(after_tax_income, 2)}')

£ 4080.0
£ 4080.0

In [11]:
# Total expenses
expenses = rent + food + wifi + transport + pocket_money
print(f'£ {expenses}')

£ 2320

In [12]:
# What's left?
# Different ways of presenting your outcome:

print(after_tax_income - expenses)
print(f'£ {round(after_tax_income - expenses, 2)}')
print('£{:10,.2f}'.format(after_tax_income - expenses))

1760.0000000000005
£ 1760.0
£  1,760.00

Not bad. Assuming we saved all of that every month, how long would it take us to have six months of expenses covered in case of an emergency?

In [13]:
# Let's declare a new variable to store that value
# max_savings is the maximum I can save each month
max_savings = after_tax_income - expenses

# Now let's calculate how long it would take 
# us to have six months of expenses covered in case of an emergency?

months = (expenses * 6) / max_savings

print(f'It would take {round(months)} months to save enough for 6 months of expenses.')

It would take 8 months to save enough for 6 months of expenses.

Huh...nearly eight months! Guess we better start saving then.

### Operators
We just used Python ***operators*** to make those calculations.  

*   ***+*** to add
*   ***-*** to subtract
*   ***/*** to divide


There are dozens of operators in Python. These are the more common arithmetic operators. But don't let that scare you. It's all just practice.

You can find more operators [in this link](https://www.w3schools.com/python/python_operators.asp).

Now what do you think would happen if you tried to add a string to a number?

In [14]:
# Let's try it:
# z holds the string "Grace is" and x holds the integer "30".
# So by combining them with the + operator, we should get...
# 'Grace is 30', right?

x = 30
z = 'Grace is'

z + x

TypeError: can only concatenate str (not "int") to str

Wrong. We get a `TypeError`. The error complains that it was expecting a *string*, not an *int*.   
We'll need to convert *x* into a string. Here's the easiest way to do it:

In [15]:
# One way to fix it:
print(z,x)

Grace is 30

In [16]:
# Another way to fix it for python 3.6 <
print(f'{z} {x}')

Grace is 30

In [17]:
# We use Python's built-in str() method!

z + ' ' + str(x)

'Grace is 30'

Now we get what we wanted!

## Python Data Types

### Strings and ints

Let's discuss the different data types in Python. We've covered the first two already:  


*   **Strings** - Strings of characters that denote text
*   **Integers** - Positive or negative whole numbers with no decimal point


But what if we wanted to use decimal points, like in the tax rate example above?

In [ ]:
# Python can handle it!
# If you pass a variable to the built-in function type(), it will return that variable's data type


my_float = 0.000003
type(my_float)



*   **Floats** - A number that can have an integer part and a fractional part. In other words, a decimal!

In [18]:
# Then there are booleans:

a = True
b = False

type(a), type(b)

(bool, bool)


*   **Booleans** - Simply yes or no. Booleans will be really useful later on for filtering your data and setting conditions for certain commands to execute.

In [20]:
# Finally, meet dictionaries:

# list of things to do depending on weather
activities = {'rain': 'read a book',    # {key:value}
              'sunny': 'go for a swim',
              'snowy': 'build a fire' 
             }

# Dictionaries can be made with other data types

numbers = {'grace': 14564316863185,
           'alex': 14564316863185,
           'susy': 14564316863185}

In [21]:
# If I want to access grace's number from the dictionary
numbers['grace']

14564316863185

In [22]:
# if I wanna access the activity for then it's sunny
activities['sunny']

'go for a swim'

In [23]:
# access all keys
numbers.keys()

dict_keys(['grace', 'alex', 'susy'])

In [24]:
# access all values
numbers.values()

dict_values([14564316863185, 14564316863185, 14564316863185])

In [25]:
type(numbers)

dict


*   **Dictionaries** - Associating this with that. Dictionaries are made up of paired keys and values (you can see our defined pairs in the example above). They will be a powerful tool to help you organize your data later on.

### Remember: *Different* data types have *different* behaviour:

In [26]:
# Integers & floats can be added together arithmetically
23 + 17.5

40.5

In [27]:
# Strings are concatenated (bunched) together
'ac' + 'dc'

'acdc'

In [28]:
# You can also think of true or false as 1 or 0 (binary)
True + False

1

### *Weird, right?* Don't worry! As you practice with Python, you'll develop an intuitive grasp of each data type's behaviour. On that note, remember to do your very first Python exercise when you get home!